#root {
  margin: 0 auto;
  padding: 2rem;
  background: var(--Neutral-200, #E1E4EA);
  color: var(--Text-Dark---Neutral-900, #2B363C);

}

.feedback-form {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: var(--Primary-100, #F2F6FF);
  padding: 64px 112px;
}

.feedback-content {
  display: flex;
  max-width: 1440px;
  align-items: flex-start;
  gap: 104px;

  .feedback-heading {
    display: flex;
    flex-direction: column;

    h1 {
      font-family: "Noto Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
    }

    p {
      font-family: "Noto Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin: 8px 0 0 0;
      line-height: 28px;
    }
  }

  .feedback-buttons {
    display: flex;
    gap: 32px;
  }

  .success-button-clicked {
    background-color: #00724C;
    border-color: #00724C;
    color: white;

    svg {
      fill: white;
    }
  }

  .danger-button-clicked {
    background-color: #86131D;
    border-color: #86131D;
    color: white;

    svg {
      fill: white;
    }
  }

  .agora-btn-outline-success {
    &:hover {
      background-color: #00724C;
      border-color: #00724C;
    }
  }
}

.accordion {
  width: 100%;
  text-align: left;
  font-size: 18px;
  transition: background-color 0.6s ease;
  border: 0;
  background: var(--Primary-100, #F2F6FF) !important;
}

.accordion-content {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
  padding-top: 64px;
}

.accordion-content.active {
  max-height: 100%;
}

.label {
  margin-bottom: 10px;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-group-spacer {
  margin-top: 38px;
}

.radio {
  color: transparent;
  height: 44px;
  margin: 0 0 8px 0;
  input[type="radio"] {
    margin-left: 5px;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  //margin-top: 32px;
}

.rating-spacer {
  margin-top: 72px;
}

.rating-content {
  display: flex;
  flex-direction: row;
  padding: 8px 0 0 0;
  align-items: flex-start;
  gap: 8px;
}

.star {
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: #034AD8;
  padding: 4px;
  &:first-child {
    padding-left: 0;
  }
}

.rating-legend {
  padding: 8px;
}

.feedback-group {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.feedback-text {
  display: flex;
  width: 560px !important;
  height: 106px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  border: 2px solid var(--Neutral-200, #E1E4EA);
  margin-top: 8px;
  background: var(--High-Contrast-White, #FFF);
  max-width: 592px;
}

.feedback-warning {
  display: flex;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 400;
  line-height: 24px;
  gap: 8px;

  svg {
    fill: #0079BF;
  }
}

.submit-button {
  background-color: #034AD8;
  display: flex;
  justify-direction: flex-end;
  color: white;
  margin-top: 64px;
  padding: 10px 20px;
  gap: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
