#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.feedback-form {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.label {
  margin-bottom: 10px;
}

.checkbox-group {
  margin: 15px 0;
}

.checkbox {
  margin-right: 20px;
  input[type="radio"] {
    margin-left: 5px;
  }
}

.rating-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.star-rating {
  margin-bottom: 15px; 
}

.star {
  font-size: 24px;
  cursor: pointer;
}

.feedback-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.feedback-text {
  margin-top: 10px;
}

.textarea {
  width: 100%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
